logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
*.log
*.swp
*.bak
*.swo
angular
angular-animate
angular-charts
angular-loader
angular-mocks
angular-motion
angular-route
angular-sanitize
angular-strap
bootstrap
d3
html5-boilerplate
jjv
jquery
jquery.mb.ytplayer
videogular
videogular-analytics
videogular-controls
videogular-cuepoints
videogular-themes-default
