

	<div class="container">

	




  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-comment"></span> Comments
    </div>
    <div class="panel-body">
    	<div>
        <h4>Gazza</h4>


        <div class="alert alert-success">
	        <small>Today at 9:30am</small>
	        <p>
	          <span class="glyphicon glyphicon-thumbs-up"></span>
	          Good quiz, short, sweet and straight to the point!
	        </p>
	        <p>Just when you thought it can't get any better, they researched and came out with an even better widget that surpasses all my expectations!!!</p>
	    </div>

        </div>

        <h1></h1>

    	<div>
        <h4>Zach</h4>

        <div class="alert alert-warning">
	        <small>Today at 8:30am</small>
	        <p>
	          <span class="glyphicon glyphicon-thumbs-down"></span>
	          Nope, just nope. Worst quiz ever!
	        </p>
	        <p>I have never been more disappointed by this quiz. It is boring, full of silly dinosaurs and apes. What is the point again?</p>
	        </div>
	    </div>

    </div>
  </div>



</div>



