<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">{{headingTitle}}</div>
        <div class="panel-body">
<!--         	<div class="alert text-center">
        	</div>
 -->        		<h4 class="text-center">
        		<span class="label label-info">
        			Press Play ► to begin. Video might take 2 - 5 mins to load.
        		</span>
        		</h4>
            <videogular vg-theme="config.theme.url">
                <vg-video vg-src="config.sources"></vg-video>
                <vg-questions vg-questions-theme="config.plugins.questions.theme.url" vg-questions-data="config.plugins.questions.data.url" vg-web-service-url="config.plugins.questions.webService.url" vg-questions-cuepoints="config.plugins.cuepoints" vg-puid="config.puid" vg-poll-server-url="config.plugins.questions.pollServer.url">
                </vg-questions>
                <vg-analytics vg-analytics-servers="config.plugins.analytics.servers">
                </vg-analytics>
                <vg-controls vg-autohide="config.autoHide" vg-autohide-time="config.autoHideTime">
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-timedisplay>{{ currentTime | date:'mm:ss' }}</vg-timedisplay>
                    <vg-scrubBar>
                        <vg-scrubBarCurrentTime></vg-scrubBarCurrentTime>
                        <vg-cuepoints vg-cuepoints-config="config.plugins.cuepoints" vg-cuepoints-theme="config.plugins.cuepoints.theme.url"></vg-cuepoints>
                    </vg-scrubBar>
                    <vg-timedisplay aria-label="Time left">{{ timeLeft | date:'mm:ss' }}</vg-timedisplay>
                    <vg-volume>
                        <vg-mutebutton></vg-mutebutton>
                        <vg-volumebar></vg-volumebar>
                    </vg-volume>
                    <vg-fullscreenButton></vg-fullscreenButton>
                </vg-controls>
            </videogular>
        </div>
    </div>
    <div class="alert alert-warning text-center">
    	<strong>
	    	Click on <span class="label label-primary">Submit Quiz</span> only when video has finished playing.
	    </strong>
	</div>

    <div class="row">
        <!-- 		 	<div style="clear:both;"></div>
		 	<div>Click on Submit Quiz only after the video has ended.</div>
 -->
        <div class="col-sm-offset-5 col-sm-2 text-center">
            <div class="btn-group" data-toggle="buttons">
                <button ng-click="SubmitQuiz()" type="button" class="btn btn-primary btn-lg center-block">
                    Submit Quiz
                </button>
            </div>
            <p />
            <p />
            <p />
        </div>
    </div>

<!-- <div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-comment"></span> Comments
    </div>
    <div class="panel-body">
        <div>
            <h4>Gazza</h4>
            <div class="alert alert-success">
                <small>Today at 9:30am</small>
                <p>
                    <span class="glyphicon glyphicon-thumbs-up"></span> Good quiz, short, sweet and straight to the point!
                </p>
                <p>Just when you thought it can't get any better, they researched and came out with an even better widget that surpasses all my expectations!!!</p>
            </div>
        </div>
        <h1></h1>
        <div>
            <h4>Zach</h4>
            <div class="alert alert-warning">
                <small>Today at 8:30am</small>
                <p>
                    <span class="glyphicon glyphicon-thumbs-down"></span> Nope, just nope. Worst quiz ever!
                </p>
                <p>I have never been more disappointed by this quiz. It is boring, full of silly dinosaurs and apes. What is the point again?</p>
            </div>
        </div>
    </div>
</div>
 -->
</div>
<!-- <div class="jumbotron">
    <div class="container">
    </div>
</div>
 -->